:root {
    --background-color: lightgrey;
}
html,h2 {
    padding:0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
}
nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 100vh;
    width: fit-content;
    font-size: 2rem;
    max-width: 600;
    flex-shrink: 1;
}
nav a {
    margin: 1rem 0;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: lightblue;
}
main {
    display: flex;
    flex-direction: column;
    max-width: 1000;
    padding: 1rem;
}
h2 {
    font-size: 2rem;
}
section {
    display: block;
    padding: 1rem;
    position: relative;
}
.explanation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.explanation:nth-of-type(even) {
    flex-direction: row-reverse;
}
div.try-it-out {
    position: relative;
    display: block;
    background-color: var(--background-color);
    width: 90%;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    max-height: 2rem;
    overflow-y: hidden;
    transition: max-height 1s;
}
.try-it-out a {
    display: block;
}
.try-it-out.expand {
    max-height: 100dvh;
    transition: max-height 1s;
}
iframe {
    width: 90%;
    padding: 0 auto;
    height: 50dvh;
    min-height: 20rem;
}