html,h2 {
    padding:0;
    margin: 0;
}
body {
    max-width: 1000;
    margin: 0 auto;
    padding: 0 5dvw;
    display: flex;
    flex-direction: column;
}
#title {
    text-align: center;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: lightblue;
}
h2 {
    width: 100%;
    display: block;
    position: sticky;
    padding: 1rem 0 1.5rem 0;
    background-color: rgb(240,240,240);
    top: calc(var(--n)*4rem); /* --n to be defined from script*/
    z-index: 0;
}
h2:hover {
    z-index: 2;
}
h2 > a {
    height: 3rem;
    vertical-align: middle;
    margin-left: 1rem;
}
.anchor {
    position:relative;
    display: block;
    height: 0;
    top: calc(var(--n)*-4rem); /* --n to be defined from script*/
}
main {
    display: block;
    position: relative;
}
section {
    display: block;
    position: relative;
    margin-left: 10dvw;
    padding: 2rem;
    transform: translate3d(0,0,0); /* Needed for safari's rendering: https://stackoverflow.com/a/51039910 */
    z-index: 1;
    background-color: white;
}
.explanation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.explanation:nth-of-type(even) {
    flex-direction: row-reverse;
}
.try-it-out {
    position: relative;
    background-color: var(--darkgray);
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    max-height: 2rem;
    overflow-y: hidden;
    transition: max-height 1s;
}
.try-it-out h3 {
    margin: 0;
    height: 2rem;
}
.try-it-out.expand {
    max-height: 100dvh;
    transition: max-height 1s;
}
iframe {
    width: 90%;
    padding: 0 auto;
    height: 50dvh;
    min-height: 20rem;
}