:root {
    font-family: "Instrument Sans", sans-serif;
    --nav-color: lightgray;
    --nav-width: 15rem;
}
p, li {
    font-size: 1.2rem;
}
p {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
li {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
img {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
math {
    font-size: 1.3rem;
}
p.indented > math {
    font-size: 1.8rem;
}
div.blocks-video {
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
blockquote {
    font-size: 1.4rem;
    font-style: italic;
}
h1 {
    margin-top: 1rem;
}
h3 {
    font-size: 1.5rem;
}
h2 {
    font-size:1.5rem;
    margin: 0;
}
html {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: var(--nav-width);
    max-width: var(--nav-width);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    height: 100dvh;
    flex-direction: column;
    background-color: var(--nav-color);
    font-size: 1.5rem;
    transition: ease-out 0.5s max-width;
}
nav.closed {
    max-width: 0;
    transition: ease-out 0.5s max-width;
}
nav a {
    margin: 1rem 1rem;
}
#menu {
    display: block;
    position: fixed;
    top: 1rem;
    left: calc(var(--nav-width) + 1rem);
    height: 2rem;
    width: 2rem;
    mask: url(img/menu.svg);
    background-color: blue;
    transition: ease-out 0.5s left;
}
#menu:hover {
    background-color: lightblue;
}
#menu.closed {
    left: 1rem;
    transition: ease-out 0.5s left;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: lightblue;
    cursor: pointer;
}
main {
    border-radius: 1.5rem;
    background-color: white;
    position: relative;
    height: fit-content;
    max-width: 50rem;
    min-width: 20rem;
    padding: 1rem 0;
    margin: 1rem auto;
    padding-left: var(--nav-width);
    transition: ease-out 0.5s padding-left;
}
main.closed {
    padding-left: 0;
    transition: ease-out 0.5s padding-left;
}
h2 {
    font-size: 2rem;
    text-align: center;
}
.mainQuestion {
    text-align: center;
    font-style: italic;
}
section {
    display: block;
    padding: 1rem;
    position: relative;
}
.centered { text-align: center; }
.highlight { background-color: lightgreen;}
.indented { margin-inline-start: 40px; } /* Copy blockquote's indentation */
img.row2 { max-height: 8rem; }
img.row3 { max-height: 12rem; }
img.row4 { max-height: 16rem; }
img {
    max-height: 10rem;
    padding: 0 auto;
    width: 100%;
}
table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
    padding: 0.2rem 1rem;
}
div.try-it-out {
    position: relative;
    display: block;
    background-color: var(--background-color);
    border-radius: 1rem;
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.2rem 1rem 1rem 1rem;
    max-height: 2rem;
    overflow-y: hidden;
    transition: max-height 1s;
}
.try-it-out h3 {
    font-size: 1.5rem;
    margin: 0;
    vertical-align: middle;
}
.try-it-out.expand {
    max-height: 100dvh;
    transition: max-height 1s;
}
iframe {
    width: 100%;
    margin: 0 auto;
    min-height: 20rem;
    border-width: 0;
}
iframe.eq1 {
    height: 50dvh;
}
iframe.eq2 {
    height: 80dvh;
}
#groupPicture {
    height: 20rem;
    max-height:fit-content;
    margin: 0 auto;
    object-fit: contain;
}
.social {
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0 0.5rem;
    justify-items: end;
    align-items: center;
}
.social a {
    height: 1em;
    width: 1em;
    flex-grow: 0;
    flex-shrink: 0;
}
.social a > img {
    height: 100%;
}